In [1]:
import os,uuid
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient, ContentSettings
import io
import pandas as pd

In [22]:
connection_string ="DefaultEndpointsProtocol=https;AccountName=taskfirst1;AccountKey=iwiLStwW6wireccslfhmMw6K7b7TvhhEM4FV6w6okcDjI6x2HbdY+yHAplmLRsWAl7cF3adqtWDa+AStNyeq+g==;EndpointSuffix=core.windows.net"
container_name = "globalmartfirst"
blob_tran = "transactions"
blob_cus = "Customers"
blob_ord = "Orders"

In [23]:
# Create BlobServiceClient Object
blob_service_client = BlobServiceClient.from_connection_string(connection_string)

In [24]:
blob_tran_client = blob_service_client.get_blob_client(container=container_name, blob=blob_tran)
blob_cus_client = blob_service_client.get_blob_client(container=container_name, blob=blob_cus)
blob_ord_client = blob_service_client.get_blob_client(container=container_name, blob=blob_ord)

In [25]:
blob_tran_data = blob_tran_client.download_blob().readall()
blob_cus_data = blob_cus_client.download_blob().readall()
blob_ord_data = blob_ord_client.download_blob().readall()

In [26]:

tran_df = pd.read_csv(io.BytesIO(blob_tran_data))
tran_df

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments
0,CA-2016-152156,FUR-BO-10001798,261.9600,2,0.00,41.9136,NaN,8
1,CA-2016-152156,FUR-CH-10000454,731.9400,3,0.00,219.5820,NaN,2
2,CA-2016-138688,OFF-LA-10000240,14.6200,2,0.00,6.8714,NaN,10
3,US-2015-108966,FUR-TA-10000577,957.5775,5,0.45,-383.0310,NaN,6
4,US-2015-108966,OFF-ST-10000760,22.3680,2,0.20,2.5164,NaN,1
...,...,...,...,...,...,...,...,...
9811,CA-2017-163629,TEC-AC-10001539,79.9900,1,0.00,28.7964,credit_card,2
9812,CA-2017-163629,TEC-PH-10004006,206.1000,5,0.00,55.6470,credit_card,3
9813,CA-2017-121258,FUR-FU-10000747,91.9600,2,0.00,15.6332,credit_card,10
9814,CA-2017-121258,TEC-PH-10003645,258.5760,2,0.20,19.3932,debit_card,10
9815,CA-2017-121258,OFF-PA-10004041,29.6000,4,0.00,13.3200,credit_card,3

In [27]:
cus_df = pd.read_csv(io.BytesIO(blob_cus_data))
cus_df

,customer_id,customer_email,customer_name,segment,country,city,state,postal_code,region
0,AA-10375,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
1,AA-10480,bancboy@icloud.com,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South
2,AB-10060,dmouse@outlook.com,Adam Bellavance,Home Office,United States,New York City,New York,10009,East
3,AB-10165,atmarks@live.com,Alan Barnes,Consumer,United States,Los Angeles,California,90036,West
4,AC-10420,cvrcek@me.com,Alyssa Crouse,Corporate,United States,San Francisco,California,94122,West
...,...,...,...,...,...,...,...,...,...
327,VW-21775,cremonini@me.com,Victoria Wilson,Corporate,United States,Medina,Ohio,44256,East
328,XP-21865,pgolle@mac.com,Xylona Preis,Consumer,United States,San Diego,Ohio,92024,West
329,YC-21895,benits@msn.com,Yoseph Carroll,Corporate,United States,San Francisco,California,94110,West
330,ZC-21910,gordonjcp@comcast.net,Zuschuss Carroll,Consumer,United States,Salem,Oregon,97301,West
331,ZD-21925,fmerges@hotmail.com,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West

In [28]:
ord_df = pd.read_csv(io.BytesIO(blob_ord_data))
ord_df

,order_id,customer_id,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,CA-2017-147039,AA-10375,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25
1,CA-2015-121391,AA-10375,VEN01,First Class,delivered,2017-11-24 23:32,2017-11-25 2:32,2017-11-30 20:53,2017-12-05 18:04,2017-12-08
2,CA-2014-128055,AA-10375,VEN01,Standard Class,delivered,2018-05-14 9:29,2018-05-14 9:54,2018-05-14 14:59,2018-05-23 21:06,2018-06-05
3,CA-2016-103982,AA-10375,VEN02,Standard Class,delivered,2018-04-09 16:47,2018-04-10 4:10,2018-04-10 22:27,2018-04-12 14:58,2018-04-19
4,CA-2014-138100,AA-10375,VEN02,Standard Class,delivered,2017-12-04 18:07,2017-12-06 2:50,2017-12-08 2:28,2017-12-18 23:44,2018-02-13
...,...,...,...,...,...,...,...,...,...,...
5001,CA-2014-140487,AB-10060,VEN04,Standard Class,delivered,2018-03-20 22:27,2018-03-20 23:10,2018-03-22 19:09,2018-04-17 22:08,2018-04-20
5002,CA-2014-131247,AB-10060,VEN04,Standard Class,delivered,2018-04-05 20:32,2018-04-06 15:30,2018-04-10 0:20,2018-04-18 15:34,2018-04-26
5003,US-2016-106600,AB-10060,VEN02,First Class,delivered,2018-03-08 12:49,2018-03-08 13:10,2018-03-09 18:41,2018-05-03 4:52,2018-03-29
5004,CA-2017-141201,AB-10060,VEN01,Second Class,delivered,2018-07-19 22:57,2018-07-21 3:15,2018-07-25 13:31,2018-07-30 23:31,2018-08-08
5005,CA-2014-156790,AB-10060,VEN01,Second Class,delivered,2018-03-20 12:35,2018-03-22 2:49,2018-03-26 23:09,2018-04-05 17:18,2018-04-18

In [29]:
df1 = ord_df.merge(tran_df, on= 'order_id', how= 'inner')
df1.head()

,order_id,customer_id,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,sales,quantity,discount,profit,payment_type,payment_installments
0,CA-2017-147039,AA-10375,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25,OFF-AP-10000576,362.940,3,0.0,90.7350,credit_card,1
1,CA-2017-147039,AA-10375,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25,OFF-BI-10004654,11.540,2,0.0,5.7700,credit_card,10
2,CA-2015-121391,AA-10375,VEN01,First Class,delivered,2017-11-24 23:32,2017-11-25 2:32,2017-11-30 20:53,2017-12-05 18:04,2017-12-08,OFF-ST-10001590,26.960,2,0.0,7.0096,credit_card,1
3,CA-2014-128055,AA-10375,VEN01,Standard Class,delivered,2018-05-14 9:29,2018-05-14 9:54,2018-05-14 14:59,2018-05-23 21:06,2018-06-05,OFF-BI-10004390,673.568,2,0.2,252.5880,credit_card,3
4,CA-2014-128055,AA-10375,VEN01,Standard Class,delivered,2018-05-14 9:29,2018-05-14 9:54,2018-05-14 14:59,2018-05-23 21:06,2018-06-05,OFF-AP-10002765,52.980,2,0.0,14.8344,credit_card,10

In [30]:
df2 = df1.merge(cus_df, how= 'inner', on= 'customer_id')
df2

,order_id,customer_id,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,...,payment_type,payment_installments,customer_email,customer_name,segment,country,city,state,postal_code,region
0,CA-2017-147039,AA-10375,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25,...,credit_card,1,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
1,CA-2017-147039,AA-10375,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25,...,credit_card,10,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
2,CA-2015-121391,AA-10375,VEN01,First Class,delivered,2017-11-24 23:32,2017-11-25 2:32,2017-11-30 20:53,2017-12-05 18:04,2017-12-08,...,credit_card,1,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
3,CA-2014-128055,AA-10375,VEN01,Standard Class,delivered,2018-05-14 9:29,2018-05-14 9:54,2018-05-14 14:59,2018-05-23 21:06,2018-06-05,...,credit_card,3,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
4,CA-2014-128055,AA-10375,VEN01,Standard Class,delivered,2018-05-14 9:29,2018-05-14 9:54,2018-05-14 14:59,2018-05-23 21:06,2018-06-05,...,credit_card,10,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9811,US-2017-147998,ZD-21925,VEN03,Standard Class,delivered,2017-08-31 7:31,2017-08-31 7:44,2017-08-31 16:36,2017-09-09 14:57,2017-09-19,...,credit_card,1,fmerges@hotmail.com,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West
9812,CA-2014-133354,ZD-21925,VEN02,First Class,delivered,2018-04-02 10:40,2018-04-03 5:35,2018-04-04 19:28,2018-04-09 17:31,2018-04-26,...,credit_card,1,fmerges@hotmail.com,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West
9813,CA-2015-122266,ZD-21925,VEN04,Standard Class,delivered,2018-01-04 0:48,2018-01-05 0:38,2018-01-08 18:14,2018-01-10 23:10,2018-01-30,...,credit_card,10,fmerges@hotmail.com,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West
9814,CA-2015-122266,ZD-21925,VEN04,Standard Class,delivered,2018-01-04 0:48,2018-01-05 0:38,2018-01-08 18:14,2018-01-10 23:10,2018-01-30,...,credit_card,3,fmerges@hotmail.com,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West
9815,CA-2017-160661,ZD-21925,VEN04,Standard Class,delivered,2017-04-24 18:32,2017-04-24 18:45,2017-04-25 11:34,2017-05-11 14:09,2017-05-15,...,credit_card,1,fmerges@hotmail.com,Zuschuss Donatelli,Consumer,United States,San Francisco,California,94109,West

In [31]:
# group by customer ID and calculate average purchase amount
average_purchase = df2.groupby(['customer_id']).mean()
average_purchase

C:\Users\Administrator\AppData\Local\Temp\3\ipykernel_1528\3911512642.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_purchase = df2.groupby(['customer_id']).mean()

,sales,quantity,discount,profit,payment_installments,postal_code
customer_id,,,,,,
AA-10375,391.655710,3.258065,0.119355,31.690455,4.419355,85204.0
AA-10480,346.575348,3.521739,0.076087,74.888867,5.217391,28027.0
AB-10060,327.574400,4.166667,0.157619,-41.134138,3.595238,10009.0
AB-10165,223.939332,3.487805,0.123659,20.854388,4.951220,90036.0
AC-10420,301.470400,3.828571,0.120000,64.657937,4.171429,94122.0
...,...,...,...,...,...,...
VW-21775,921.116143,4.285714,0.028571,402.286643,5.428571,44256.0
XP-21865,384.284868,3.947368,0.142105,111.768861,4.631579,92024.0
YC-21895,174.609652,3.565217,0.147826,35.482957,3.478261,94110.0
ZC-21910,219.438400,4.200000,0.164000,43.256560,3.720000,97301.0
ZD-21925,178.430279,3.323529,0.136765,23.403794,3.852941,94109.0

In [32]:
# filter for customers with average purchase amount > $400
high_spenders = average_purchase[average_purchase['sales'] > 400]

high_spenders

,sales,quantity,discount,profit,payment_installments,postal_code
customer_id,,,,,,
AD-10180,562.967818,3.681818,0.059091,199.722057,3.681818,59405.0
AF-10885,465.569000,4.176471,0.182353,125.639122,4.823529,40214.0
AP-10915,442.414267,3.700000,0.093333,94.035980,4.133333,32137.0
BH-11710,816.621528,3.805556,0.186111,-51.046594,4.166667,90032.0
CL-12565,477.439333,3.538462,0.138462,131.360426,3.794872,93534.0
CW-11905,554.093238,3.571429,0.152381,209.533448,2.952381,77340.0
DL-12865,587.962944,3.888889,0.163889,-7.215053,3.805556,45231.0
DV-13465,489.353275,3.950000,0.113750,106.163635,4.400000,80219.0
EA-14035,453.254256,3.720930,0.130233,88.622579,4.860465,28205.0
GP-14740,462.292033,2.600000,0.153333,83.118983,4.266667,17602.0
JK-15640,531.655583,3.291667,0.108333,191.596158,4.458333,10009.0
JL-15850,446.277278,3.861111,0.136111,63.513758,4.555556,19134.0
MG-18145,457.103182,3.772727,0.177273,85.246155,4.500000,19134.0
MR-17545,428.029437,4.125000,0.195312,91.030881,3.781250,19140.0
NK-18490,548.526370,3.740741,0.096296,208.176330,2.777778,98105.0
ON-18715,404.962548,4.666667,0.226190,23.408819,3.619048,55122.0
PG-18820,454.264000,5.111111,0.144444,-14.940083,4.222222,94110.0
SF-20065,539.265970,3.969697,0.151515,217.930085,4.000000,19140.0
SO-20335,518.484500,4.750000,0.225000,92.540275,4.750000,33311.0
TB-21520,926.613429,4.571429,0.164286,-253.205086,4.214286,49201.0
VW-21775,921.116143,4.285714,0.028571,402.286643,5.428571,44256.0

In [33]:
# output list of high spending customers
print(high_spenders[['sales', 'profit']])

                  sales      profit
customer_id
AD-10180     562.967818  199.722057
AF-10885     465.569000  125.639122
AP-10915     442.414267   94.035980
BH-11710     816.621528  -51.046594
CL-12565     477.439333  131.360426
CW-11905     554.093238  209.533448
DL-12865     587.962944   -7.215053
DV-13465     489.353275  106.163635
EA-14035     453.254256   88.622579
GP-14740     462.292033   83.118983
JK-15640     531.655583  191.596158
JL-15850     446.277278   63.513758
MG-18145     457.103182   85.246155
MR-17545     428.029437   91.030881
NK-18490     548.526370  208.176330
ON-18715     404.962548   23.408819
PG-18820     454.264000  -14.940083
SF-20065     539.265970  217.930085
SO-20335     518.484500   92.540275
TB-21520     926.613429 -253.205086
VW-21775     921.116143  402.286643